body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42em;
    background-color: #001821;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    /*
    inherit ключевое слово, которое сообщает, 
    что необходимо наследовать значение свойства у родительского элемента
    */
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    margin: 0;
}

button {
    border-width: 0;
}

.wrapper {
    background: url(../img/фон1.jpg) top no-repeat,
        url(../img/Фон2.png) bottom no-repeat;
}

.hero {
    margin-bottom: 263px;
}
.container {
    margin: 0 auto;
    width: 1141px;
}

.header {
    height: 120px;
    position: relative;
    margin-bottom: 70px;
}

.logo {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 165px;
}

.menu__item {
    display: inline-block;
    /* vertical-align: middle; */
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.menu__item--active .menu__link {
    color: #DA0100;
}

.contacts {
    position: absolute;
    top: 33px;
    right: 0;
    text-align: right;
}

.contacts__tel {
    font-style: normal;
    font-size: 26px;
    text-decoration: none;
    display: block;
}

.contacts-text {
    font-size: 13px;
    text-decoration: underline;
    font-style: normal;
}

.contacts__dropdown-title:hover>.schedule {
    visibility: visible;
}

.schedule {
    background: url(../img/SheduleImg.png) top no-repeat;
    width: 160px;
    /* margin-left: 1370px; */
    height: 77px;
    visibility: hidden;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
}

.shedule__text-item {
    display: block;
    font-weight: bold;
    font-size: 13px;
    color: #1E1F20;
    text-decoration: none;
    font-style: normal;
}

.shedule__text-item:last-child {
    font-weight: 600;
}

.content {
    width: 520px;
}

.heading__h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.42em;
    margin-bottom: 25px;
}

.heading__text {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
}

.button {
    border-radius: 35px; 
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #F5170E;
    color: #FFFFFF;
    padding: 18px 40px;
}

.button__link {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

.content .button:hover {
    background-color: #DA0100;
    box-shadow: none;
    color:#FFFFFF;
}

.elements {
    margin-bottom: 138px;
}

.wrapper-element {
    padding: 30px 22px;
}

.elements__item {
    background-color: #FFFFFF;
    display: inline-block;
    margin-right: 23px;
    width: 362px;
    /* height: 449px; */
    vertical-align: top;
    color: #000000;
    border-radius: 5px;
    overflow: hidden;
}

.elements__item:last-child {
    margin-right: 0;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25;
}

.flame-tour__text {
    /* display: inline-block; */
    /* margin-right: 12px; */
    /* font-size: 36px;
    font-weight: 700;
    line-height: 1.25; */
    margin-bottom: 63px;
    display: flex;
    align-items: center;
}
.flame-tour__text::after {
    content:url(../img/flame.png);
    margin-left: 10px;
    display: block;
}

.elements__img {
    display: block;
    /* margin-bottom: 37px; */
}

.elements__name {
    font-size: 24px;
    font-weight: 700;
}

.elements__icons {
    /* height: 33px; */
    margin-bottom: 20px;
    margin-left: -20px;
}

.elements__icons-item {
    display: inline-block;
    margin-left: 20px;
}

li .elements__name {
    margin-bottom: 28px;
    /* margin-left: 23px; */ 

}

.elements__icons-item .elements__img {
    display: inline-block;
    /* margin-left: 28px; */
}

/* li .elements__img {
    display: inline-block; */
    /* margin-bottom: 40px;
} */

li .elements__text {
    /* display: inline-block; */
    vertical-align: top;
    margin-left: 5px;
}

.elements__description {
    font-weight: normal;
    font-size: 14px;
    color: #303030;
    margin-left: 22px;
    margin-bottom: 22px;
    margin-top: 0;
}

.elements__button {
    border: 1px solid;
    color: #F5170E;
    background: #FFFFFF;
}

.elements .button:hover {
    background: #F5170E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    border: none;
}

.news__heading {
    /* font-weight: bold;
    font-size: 36px; */
    margin-bottom: 68px;
}

.news-description {
    margin-bottom: 53px;
}

.news-description__item {
    display: inline-block;
    width: 557px;
    overflow: hidden;
    border-radius: 5px;
    vertical-align: top;
    position: relative;
    margin-right: 17px;
}

.news-description__item:last-child {
    margin-right: 0;
}

.news-description__item-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.news-description-text {
    position: absolute;
    bottom: 23px;
    left: 27px;
    min-height: 94px;
}

li:last-child .news-description-text {
    bottom: 1px;
    left: 27px;
}

.news-description__item-date {
    display: block;
    font-size: 14px;
}

.news-description__item-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.news-description__item-desc {
    font-size: 16px;
}

.paginator {
    text-align: center;
    margin-bottom: 145px;
}

.paginator__display {
    display: inline-block;
    vertical-align: middle;
}

.paginator__list {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

.paginator__item {
    margin-left: 20px;
    vertical-align: middle;
    display: inline-block;
}

.paginator__item--active {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 50%;
    color: #F5170E;
    line-height: 32px;
}

.paginator__item:hover {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 50%;
    color: #F5170E;
    line-height: 32px;
}

.section-about .container {
    position: relative;
}

.about {
    position: relative;
    margin-bottom: 75px;
    text-align: right;
    padding-top: 90px;
}

.about:before {
    content: "";
    background: url(../img/gates.png) top no-repeat;
    height: 505px;
    width: 490px;
    display: inline-block;
    background-size: cover;
    vertical-align: top;
    left: 0;
    top: 0;
    position: absolute;
}

.about__img {
    display: inline-block;
    margin-left: -140px;
    margin-top: 97px;
    width: 785px;
    min-height: 455px;
    vertical-align: top;
}

.wrapper__about {
    width: 750px;
    padding: 60px 200px 60px 80px;
    box-sizing: border-box;
    /* bottom: 175px;
    left: 435px; */
    background: url(../img/mountains.png) top / cover no-repeat;
    display: inline-block;
    z-index: 1;
    position: relative;
    text-align: left;
}

.about__title,
.about__text {
    display: block;
    box-sizing: border-box;
    color: #060606;
    margin-bottom: 100px;
}

.about__title {
    margin-bottom: 57px;
}

.about__text {
    line-height: 1.68em;
}

.about__btn {
    /* position: absolute; */
    /* bottom: 35px; */
    left: 450px;
    background-color: #F5170E;
    color: #FFFFFF;
}


.footer {
    position: relative;
    border-top: 1px solid  rgb(255, 255, 255, .1);
    padding-top: 100px;
}

.menu {
    display: inline-block;
    font-size: 14px;
}
.social {
    display: inline-block;
    /* margin-top: 50px; */
    position: absolute;
    right: 250px;
    top: 50%;
    transform: translateY(-50%);
}
.social__item {
    display: inline-block;
    margin-right: 7px;
}

.footer-contacts {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
} 

.footer__text {
    display: block;
    font-size: 11px;
}